    <!-- significantly adapted from this idea -->
    <!-- https://stackoverflow.com/questions/69771396/displaying-rating-star-in-django -->

    <div class="rating-star">
        {% if review.rating  < 1 %}
            <i class="golden-cookie fa-solid fa-cookie-bite" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
        {% endif %}    
      
        {% if review.rating >= 1 and review.rating < 1.5%}
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
        {% elif review.rating >= 1.5 and review.rating < 2 %}
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie-bite" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
        {% endif %}
          
        {% if review.rating >= 2 and review.rating < 2.5%}
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
        {% elif review.rating >= 2.5 and review.rating < 3 %}
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie-bite" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
        {% endif %}
         
        {% if review.rating >= 3 and review.rating < 3.5%}
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>    
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
        {% elif review.rating >= 3.5 and review.rating < 4 %}
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie-bite" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
        {% endif %}
   
        {% if review.rating >= 4 and review.rating < 4.5%}
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="fa-solid fa-cookie" aria-hidden="true"></i>
        {% elif review.rating >= 4.5 and review.rating < 5 %}
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i> 
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie-bite" aria-hidden="true"></i>
        {% endif %}

        {% if review.rating == 5%}
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
            <i class="golden-cookie fa-solid fa-cookie" aria-hidden="true"></i>
        {% endif %}
    </div>
    
    {% if review.rating <= 1 %}
        <small>{{ review.rating }} Golden Cookie</small>
    {% else %}
        <small>{{ review.rating }} Golden Cookies</small>
    {% endif %}