{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Edit Review: {{review.title}} for {{product.name}}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Edit review: {{review.title}} for {{product.name}} using our simple form">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font mt-5 text-edit product-sub-header">Update your review of</h2>
            
            <!-- Form Header -->
            <div>
                <div class="text-center">
                    <h2 class="text-uppercase mt-4 text-break">{{ product.name }}</h2> 
                </div>

                <div>    
                <!-- Product Image -->
                    {% if product.image %}
                        <img class="text-center" src="{{ product.image.url }}" alt="{{ product.name }}" onerror="this.onerror=null;this.src='{{ MEDIA_URL }}no_image.jpg'">
                    {% else %}
                        <img class="text-center" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ product.name }}">
                    {% endif %}
                </div>
            </div>

            <!-- Review Form -->
            <form class="px-3 px-md-4 py-4 form-as-p" method="POST" action="{% url 'edit_review' review.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- Hidden input to redirect user back to previous page once submitted -->
                <input type="hidden" name="redirect_url" value="{{ request.GET.next }}">
                <!-- Buttons -->
                <div class="text-center">
                    <a class="btn btn-danger rounded-15 mr-3 mt-3 mb-5" href="{{ request.GET.next }}">
                        <span class="icon mr-1">
                            <i class="fa-solid fa-xmark"></i>
                        </span>Cancel</a>
                    <button class="btn btn-success rounded-15 mt-3 mb-5" type="submit">
                        <span class="icon mr-1">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </span>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js_end %}
    <!-- Rating Selector JS -->
    <!-- <script src="{% static 'reviews/js/rating_select.js' %}"></script> -->
{% endblock %}