{% extends "account/base_entrance.html" %}
{% load i18n %}

{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<hr>
<h2 class="logo-font text-edit mb-4">{% trans "Sign In" %}</h2>
<hr>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please&nbsp;
<a class="btn btn-success btn-sm rounded-15" href="{{ signup_url }}"><span class="text-white">
  <i class=" fa-solid fa-user-plus fa-sm mr-2"></i><strong>&nbsp;Sign Up</strong></span></a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-home rounded-15" href="{% url 'home' %}">
    <span class ="fa-solid fa-home mr-2"></span>Home</a>
  <button class="btn btn-success rounded-15 ml-4 primaryAction" type="submit">
    <span class ="fa-solid fa-right-to-bracket mr-2"></span>{% trans "Sign In" %}</button>
  <p class="mt-2">
    <a class="button btn btn-pwd-reset ml-2 mt-2 rounded-15 secondaryAction" href="{% url 'account_reset_password' %}">
      <span class ="fa-solid fa-question mr-2"></span>{% trans "Forgot Password?" %}</a>
  </p>
</form>

{% endblock %}