{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <hr>
    <h2 class="logo-font text-edit mb-4">{% trans "Password Reset" %}</h2>
    <hr>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <!-- {% blocktrans %} -->
     <div class="text-oreo mb-5">
    <h4 class="mb-4">If you entered a valid email for a  User Account, We have sent an e-mail.</h4>
    <h4 class="mb-4">If you do not receive a reset email within a few minutes, check that you entered a valid email.</h4>
    <h4>If you still cannot reset it, contact us on the 'send me an email' link below.</h4>
    <br>
    </div>
    <!-- {% endblocktrans %} -->
{% endblock %}