{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col">
                <div class="my-5">
                    <h4>
                        <a href="{% url 'account_login' %}" class="btn btn-success btn-center text-center rounded-15">Login</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}