{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col">
                <div class="">
                    {% if not request.user.is_authenticated or not request.user.is_superuser %}
                    <h4>
                        <a href="{% url 'account_login' %}" class="btn btn-success btn-center text-center rounded-15">Login</a>
                    </h4>
                    {% else %}
                        <div class="mt-5 col-lg-10 offset-xl-0 col-xl-12 offset-lg-1 ofset-md-2 col-md-12  col-sm-12 text-center menu-display">
                        <!-- <div class=""> -->
                            <a href="{% url 'hosts' %}" class="btn btn-white rounded-15">
                                <img src="{{ MEDIA_URL }}host_button.png" alt="host button" class="rounded-25" height=200></a>
                            <a href="{% url 'members' %}" class="btn btn-white rounded-15">
                                <img src="{{ MEDIA_URL }}family_button.png" alt="organisation Button" class="rounded-25" height=200></a>
                            <a href="{% url 'category' %}" class="btn btn-white rounded-15">
                                <img src="{{ MEDIA_URL }}category_button.png" alt="category button" class="rounded-25" height=200></a>   
                            <a href="{% url 'timeperiod' %}" class="btn btn-white rounded-15">
                                <img src="{{ MEDIA_URL }}time_button.png" alt="time period button" class="rounded-25" height=200></a>
                            <a href="{% url 'pupils' %}" class="btn btn-white rounded-15">
                                <img src="{{ MEDIA_URL }}pupil_button.png" alt="pupil button" class="rounded-25" height=200></a>
                            <a href="{% url 'organisation' %}" class="btn btn-white rounded-15">
                                <img src="{{ MEDIA_URL }}organisation_button.png" alt="organisation Button" class="rounded-25" height=200></a>
                            <a href="{% url 'teamlead' %}" class="btn btn-white rounded-15">
                                <img src="{{ MEDIA_URL }}teamlead_button.png" alt="team leader button" class="rounded-25" height=200></a>
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}