{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-12 col-lg-8">
            <hr>
            <h2 class="logo-font text-title mb-4 text-center">Privacy Notice</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-12 col-lg-8 text-oreo">
        <h2 class="text-center">
            Leo’s Oreo Emporium customer privacy notice</h2>
        <hr>
        <h4 id="contact" class="mt-2">This privacy notice tells you what to expect us to do with your personal information.</h4>
        <ul class="ml-5">
            <li>
                <a class="priv-list-text" rel="noopener" href="#contact">Contact details</a>
            </li>
            <li>
                <a class="priv-list-text" rel="noopener" href="#information">What information we collect, use, and why</a>
            </li>
            <li>
                <a class="priv-list-text" rel="noopener" href="#lawful">Lawful bases and data protection rights</a>
            </li>
            <li>
                <a class="priv-list-text" rel="noopener" href="#personal">Where we get personal information from</a>
            </li>
            <li>
                <a class="priv-list-text" rel="noopener" href="#retain">How long we keep information</a>
            </li>
            <li>
                <a class="priv-list-text" rel="noopener" href="#complain">How to complain</a>
            </li>
        </ul>
        <h4  id="information" >Contact details.</h4>
        <h2>Email:</h2>
        <p class="ml-5"><a class="priv-list-text" href="mailto:webdev1961@gmail.com">webdev1961@gmail.com</a></p>	
  
        <h4 class="mb-2">What information we collect, use, and why.</h4>
        <h4>
            We collect or use the following information to provide services and goods, including delivery:
        </h4>
        <ul class="ml-5">
            <li>
                Names and contact details
            </li>
            <li>
                Addresses
            </li>
            <li>
                Purchase or account history
            </li>
            <li>
                Payment details (including card or bank information for transfers and direct debits)
            </li>
            <li>
                Account information
            </li>
            <li>
                Information relating to loyalty programmes
            </li>
            <li>
                Website user information (including user journeys and cookie tracking)
            </li>	
        </ul>
        <h4>We collect or use the following information for the operation of customer accounts and guarantees:</h4>
        <ul class="ml-5">
            <li>
                Names and contact details
            </li>
            <li>
                Addresses
            </li>
            <li>
                Payment details (including card or bank information for transfers and direct debits)
            </li>
            <li>
                Purchase History
            </li>
        </ul>
        <h4 id="lawful">We collect or use the following information for service updates or marketing purposes:</h4>
        <ul class="ml-5">
            <li>
                Names and contact details
            </li>
            <li>
                Addresses
            </li>
            <li>
                Marketing preferences
            </li>
            <li>
                Purchase or viewing history
            </li>
        </ul>
        <h4>We collect or use the following personal information for dealing with queries, complaints or claims:</h4>         
        <ul class="ml-5">
            <li>
                Names and contact details
            </li>
            <li>
                Address
            </li>
            <li>
                Payment details
            </li>
            <li>
                Account information
            </li>
            <li>
                Purchase or service history
            </li>            
            <li>
                Customer or client accounts and records
            </li>
        </ul>
        <h4>Lawful bases and data protection rights.</h4>
        <p  class="ml-3">
            Under UK data protection law, we must have a “lawful basis” for collecting and using your personal information. There is a list of possible lawful bases in the UK GDPR. You can find out more about lawful bases on the ICO’s website.
            Which lawful basis we rely on may affect your data protection rights which are in brief set out below. You can find out more about your data protection rights and the exemptions which may apply on the ICO’s website:</p>
        <ul class="ml-5">
            <li>
                Your right of access - You have the right to ask us for copies of your personal information. You can request other information such as details about where we get personal information from and who we share personal information with. There are some exemptions which means you may not receive all the information you ask for.
            </li>
            <li>
                Your right to rectification - You have the right to ask us to correct or delete personal information you think is inaccurate or incomplete.
            </li>
            <li>
                Your right to erasure - You have the right to ask us to delete your personal information.
            </li>
            <li>
                Your right to restriction of processing - You have the right to ask us to limit how we can use your personal information.
            </li>
            <li>
                Your right to object to processing - You have the right to object to the processing of your personal data.
            </li>
            <li>
                Your right to data portability - You have the right to ask that we transfer the personal information you gave us to another organisation, or to you.
            </li>
            <li>
                Your right to withdraw consent – When we use consent as our lawful basis you have the right to withdraw your consent at any time.
            </li>
            <li>   
                <a class="priv-list-text" href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/" target="_blank">
                    You can read more about these rights here.</a>
            </li>
        </ul>
        <h5 class="mb-3">If you make a request, we must respond to you without undue delay and in any event within one month.</h5>
        <h5 class="mb-3">To make a data protection rights request, please contact us using the contact details at the top of this privacy notice.</h5>
        <h4>Our lawful bases for the collection and use of your data.</h4>
        <h5 class="mb-3 ml-3">Our lawful bases for collecting or using personal information to provide services and goods are:</h5>
        <ul class="ml-5">
            <li>
                Contract – we have to collect or use the information so we can enter into or carry out a contract with you. All of your data protection rights may apply except the right to object.
            </li>
            <li>
                Legitimate interests – we’re collecting or using your information because it benefits you, our organisation or someone else, without causing an undue risk of harm to anyone. All of your data protection rights may apply, except the right to portability. Our legitimate interests are:
            </li>
            <li>
                It is essential to collect this information in order to be able to provide a service. 
            </li>
        </ul>
        <h5 class="mb-3 ml-3">Our lawful bases for collecting or using personal information for the operation of customer accounts and guarantees are:</h5>
        <ul class="ml-5">
            <li>
                Contract – we have to collect or use the information so we can enter into or carry out a contract with you. All of your data protection rights may apply except the right to object.
            </li>
        </ul>
        <h5 id="personal" class="mb-3 ml-3">Our lawful bases for collecting or using personal information for service updates or marketing purposes are:</h5>
        <ul class="ml-5">
            <li>
                Contract – we have to collect or use the information so we can enter into or carry out a contract with you. All of your data protection rights may apply except the right to object.
            </li>
        </ul>
        <h5 id="retain" class="mb-3 ml-3">Our lawful bases for collecting or using personal information for dealing with queries, complaints or claims are:</h5>
        <ul class="ml-5">
            <li>
                Contract – we have to collect or use the information so we can enter into or carry out a contract with you. All of your data protection rights may apply except the right to object.
            </li>
        </ul>
        <h4>Where we get personal information from:</h4>
        <ul class="ml-5">
            <li>
                Directly from you
            </li>
        </ul>
        <h4  id ="complain">How long we keep information:</h4>
        <ul class="ml-5">
            <li>
                Data is kept only for so long as we require it.
            </li>
            <li>
                Payment information is retained for the session and for 1 year after the last active order,
                 if the customer ticks the ‘save info’ button.
            </li>
            <li>
                Payment information will be removed earlier if requested by the customer.
            </li>
            <li>
                Personal details are retained for marketing purposes for a period of 3 years
             after the last active order unless the customer requests that their data be removed earlier.
            </li>
            <li>
                Order information is retained for a period of 7 years to comply with HMRC requirements.
            </li>
        </ul>
        <h4>How to complain:</h4>
        <p class="mb-3 ml-3">
           If you have any concerns about our use of your personal data, you can make a complaint to us using the contact details at the top of this privacy notice.
        </p>
        <p class="mb-3 ml-3">
            If you remain unhappy with how we’ve used your data after raising a complaint with us, you can also complain to the ICO.
        </p>
        <p class="mb-3 ml-3">The ICO’s address:</p>      
        <div class ="ml-5 mb-0">
        <p class ="ml-5 mb-0">Information Commissioner’s Office</p>
        <p class ="ml-5 mb-0">Wycliffe House</p>
        <p class ="ml-5 mb-0">Water Lane</p>
        <p class ="ml-5 mb-0">Wilmslow</p>
        <p class ="ml-5 mb-0">Cheshire</p>
        <p class ="ml-5 mb-0">SK9 5AF</p>
        <br>
        <p class="ml-3">Helpline number: 0303 123 1113</p>
        <p class="ml-3 "><a class ="priv-list-text" href="https://ico.org.uk/make-a-complaint/" target="_blank">
            Website: https://www.ico.org.uk/make-a-complaint</a></p>
        </div>
        <p class="float-right priv-list-text">Last updated: 19th February 2025</p>
        <br>
        <p><a class="btn btn-success rounded-15 mt-3 mb-5 float-right" href="{{ MEDIA_URL }}privacy-notice-Leos-oreo-emporium.pdf" target="_blank">
            <span class="icon">
                <i class="fa-solid fa-file-export"></i>
            </span>Open PDF Version</a></p>
    </div>
    </div>
</div>
{% endblock %}
