{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Categories {% endblock %}

{% block extra_meta %}
    <meta name="description" content="An area for site admins to view and edit category records.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <!-- Title Section -->
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0">
            <h1 class="mt-5 text-edit text-center">PJL Category Records</h1>
        </div>
    </div>

    <!-- Messages Section -->
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 px-0">
            <hr class="mt-4 mb-4">
            <!-- Add new category Button -->
            <div class="col-12 text-center">
                <a href="{% url 'add_category' %}" class="btn btn-review mb-3 rounded-15 text-uppercase">
                    <span class="icon">
                    <i class="fa-solid fa-list"></i>
                    </span>Add New Category
                </a>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 col-lg-8 offset-lg-2 p-3 ">
            <div class="d-flex justify-content-between flex-wrap ">
                <div class="col-12 col-lg-8 bg-category rounded-15 offset-lg-2">
                    <div>
                        <h4 class="text-info text-center">Categories/Tags&nbsp;&nbsp;<span class="muted-text text-edit">(Click to Edit)</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row no-gutters bg-category rounded-15 col-lg-8 offset-lg-2">
        {% if categories|length > 0 %}
        {% for category in categories %}                           
        <div>
            <a href="{% url 'edit_category' category.id %}" class="text-decoration-none hvr-grow">
            <h2><span class="tag-format text-center">{{ category.friendly_name }}</span></h2></a>
            </div>  
        {% endfor %}
            <br>
        {% else %}
            <p class="text-center">There are no Category Tags</p>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}