{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font text-center text-edit mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-edit">Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a class="btn btn-pwd-reset btn-checkout mb-5 rounded-15 text-uppercase"
                        href="{% url 'account_change_password' %}">
                        <span class ="fa-solid fa-key mr-2"></span>Change Password</a>
                    <button class="btn btn-success btn-checkout mb-5 rounded-15 text-uppercase float-right">
                        <span class ="fa-solid fa-thumbs-up mr-2"></span>Update Profile</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-edit">Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a class="text-breadcrumb" href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                        <!-- only display size if product has sizes -->
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                {% if item.product.has_sizes %}
                                                    {{ item.product.name }} x{{ item.quantity }}
                                                    Size {{ item.product_size|upper }}
                                                {% else %}
                                                    {{ item.product.name }} x{{ item.quantity }}
                                                {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- User Reviews -->
    <div class="container-fluid">
        <div class="row text-center px-3 px-sm-5">
            <div class="col-12">
                <h2 class="font-title weight-bold section-title mb-2">My Reviews</h2>
                <hr class="w-50 mb-1">
            </div>
            <div class="col-12 mb-3">
                <p class="font-body">These are all the reviews you've left for our Oreo products.
                    Thank you! It helps others with their choices.</p>
                <p>View, edit & delete them below.</p>
                <hr class="w-50 mb-1">
            </div>
        </div>
    </div>
    
    <div class="container-fluid ib-container bg-light-grey text-ib-dark" id="profile-review-div">
        <!-- Review Container -->
        <div class="row">
            <div class="col-xs-1 col-md-2 col-lg-3"></div>
            <div class="col-xs-10 col-md-8 col-lg-6">
                {% if reviews|length > 0 %}
                    {% for review in reviews %}
                        <!-- Review -->
                        {% if not review.is_approved %}
                        <!-- Unapproved Flag -->
                        <div class="row">
                            <div class="col">
                                <p class="text-approval">Awaiting Approval</p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row mb-3 shadow {% if not review.is_approved %}unapproved{% endif %}">

                            <div class="col-3 col-md-2 d-none d-sm-flex py-3 ps-3 pe-0">
                                <!-- Product Image -->
                                <a href="{% url 'product_detail' review.product.id %}">
                                    {% if review.product.image %}
                                        <img class="img-fluid image-ratio" src="{{ review.product.image.url }}" alt="{{ review.product.name }}" onerror="this.onerror=null;this.src='{{ MEDIA_URL }}no_image.jpg'">
                                    {% else %}
                                        <img class="img-fluid image-ratio" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ review.product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 p-3">
                                <h2>{{ review.product }}</h2>
                                <!-- Review Title & Date -->
                                <div class="row font-body text-dark-grey my-2">
                                    <div class="col-12 ">
                                        <p class="mb-1">{{ review.title }}</p>
                                        <p class="mb-1">Created on: {{ review.created_on|date:"d/m/Y" }}</p>
                                    </div>
                                </div>
                                <i class="fas fa-user"></i><span>&nbsp;{{ review.user }}</span>
                                    <p class ="mt-1">Rating Given: <span class="text-edit">&nbsp;{{ review.rating }}</span></p>
                                    <p class="text-break">{{ review.content }}</p>
                                <!-- Review EDIT / DELETE Buttons -->
                                {% if request.user.is_superuser or request.user == review.user %}
                                    <div class="row">
                                        <div class="col mt-3">
                                            <a href="{% url 'edit_review' review.id %}?next={{ request.path|urlencode }}" class="text-edit">Edit</a> |
                                            <a class="text-danger" href="{% url 'delete_review' review.id %}?next={{ request.path|urlencode }}">Delete</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <hr class="mb-1">
                    {% endfor %}

                {% else %}
                    <!-- No Reviews Text -->
                    <div class="col-12 text-center">
                        <p>No Reviews Yet !</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark-grey footer-buffer">

    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}