html {
    height: 100%;
}

body {
    background: url('/media/oreo-backg.jpg')  no-repeat center center;
    background-size: cover;
    height: calc(100vh - 194px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.img-center {
    display: block;
    margin: auto;
    height: 97px;
}

.img-center-big {
    display: block;
    margin: auto;
    height: 197px;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #4e51d3;
    color: #fff;
    font-weight: 700;
    min-width: 200px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: solid 3px black;
}

.btn-black {
    background: black;
    color: white;
}

.btn-oreo {
    background: #4956c9;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-center {
    display: block;
    margin: auto;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #0e9375;
    color: #fff;
}

.text-black {
    color: #000 !important;
}

.text-oreo {
    color: #4956c9 !important;
}

.text-logo {
    color: #6868fd;
    font-weight: 700;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.bg-oreo {
    background: #d5ddf9 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

li {
    margin-bottom: .5rem; 
}

.fa-star {
    color: gold;
}

.fa-hashtag {
    color: blue;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.badge {
    background-color: #4956c9;
    color: #fff;
}

.top-button {
    background-color: rgb(204, 235, 245);
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: solid 1px blue;
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 999999;
}

.top-link,
.update-link,
.remove-item {
    cursor: pointer;
    color: rgb(4, 85, 4);
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.rounded-15 {
    border-radius: 15px !important;
}

.rounded-tb15 {
    border-radius: 0 0 15px 15px !important;
}

.spaced-out {
    line-height: 100px;
}

.rounded-bt15 {
    border-radius: 15px 15px 0 0 !important;
}

.product-sub-header {
    margin-top: 20px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    border: 1px solid blue;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Standard bootstrap button color border override */

.btn-info,
.btn-success,
.btn-warning,
.btn-danger {
    border: 1px solid #000;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: #6c757d; 
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border: 1px solid #000;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #000; 
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Footer */
footer {
    min-height: 120px;
}

/* override media font on H3  */
.footer-head-text {
    font-weight: 600 !important;
    font-size: 1.75rem !important;
}

.footer-text {
    font-weight: 600;
    font-size: 1.1rem;
    color: #00346b !important
}

.social-links {
    padding-left: 1em;
    padding-top: 1em;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fff;
    background: #007bff;
    transition: all 0.35s ease-in-out;
}

#footer-details {
    background-color: #d5ddf9;
    text-align: center;
}

.solid-border {
    border-style: solid;
    border-width: 2px 0 0;
    border-color:#4203bf;
}

.copyright {
    font-family: 'Original Surfer', sans-serif;
    text-align: center;
    color: #743011; 
    font-weight: 500;
    font-size: 1.15rem;
}

/* -------------------------------- WCAG Changes */

.text-copyright {
    color: #871722;
}

.priv-list-text {
    color: #0056b3;
}

.btn-success {
    background-color: #155624;
}




/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 1030px) { 
    h3 {
        font-size: 1rem !important;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
 
    .header-container {
        padding-top: 180px;
    }
} 

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .header-container {
        padding-top: 124px;
    }

    .nav-item {
        font-size: .8rem;
    }
}

@media (max-width: 480px) {
    h4 {
        font-size: 1rem;
    }

    ul {
        padding: 0;
    }
}

@media (max-width: 565px) {
    h3 {
        font-size: .8rem !important;
    }
    .btn-checkout {
        font-size: .6rem;
        padding-left: 4px;
        padding-right: 4px;
    }
}

@media (max-width: 345px) {
    h4 {
        font-size: .8rem;
    }

    h3 {
        font-size: .4rem !important;
    }
    
    .header-container {
        padding-top: 144px;
    }

    .product-sub-header {
        margin-top: 0;
    }
}