{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Teamlead {% endblock %}

{% block extra_meta %}
    <meta name="description" content="An area for site admins to view and edit Time Period records.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <!-- Title Section -->
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0">
            <h1 class="mt-5 text-edit text-center">PJL Time Period Records</h1>
        </div>
    </div>

    <!-- Messages Section -->
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 px-0">
            <hr class="mt-4 mb-4">
            <!-- Add new Time Period Button -->
            <div class="col-12 text-center">
                <a href="{% url 'add_timeperiod' %}" class="btn btn-review mb-3 rounded-15 text-uppercase">
                    <span class="icon">
                    <i class="fa-solid fa-clock"></i>
                    </span>Add New timeperiod
                </a>
            </div>
        </div>
    </div>
    <div class="row no-gutters" >
        <div class="col-12 col-md-6 offset-md-3 bg-timeperiods mb-3 rounded-15">
            <div class="d-flex justify-content-between flex-wrap ">
                <div class="col-12">
                    <h2 class="text-edit text-center">Time Periods</h2>    
                </div>
            </div>
        </div> 
        <br>
    </div>
        {% if timeperiods|length > 0 %}
                {% for timeperiod in timeperiods %}
                <!-- Time Period Record -->
                <div class="row no-gutters">
                    <div class="col-12 col-md-6 offset-md-3 bg-timeperiods mb-3 rounded-15">
                        <div class="ml-3 mt-3">
                        <p><span class="text-edit ">Title:&nbsp;</span>{{timeperiod.title}}</p>
                        <p><span class="text-edit mb-0">Date From:&nbsp;</span>{{timeperiod.date_from}}</p>
                        <p><span class="text-edit">Date To:&nbsp;</span>{{timeperiod.date_to}}</p> 
                        <button class="mr-3 mb-2 rounded-15 btn btn-success float-right">
                            <a class ="text-white" href="{% url 'edit_timeperiod' timeperiod.id %}">Edit</a>
                        </button></span></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <br>
                {% else %}
                <div class="col-12 text-center py-3">
                    <p class="font-body weight-semibold text-dark-grey">No Time Periods To Display</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}