{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Hosts {% endblock %}

{% block extra_meta %}
    <meta name="description" content="An area for site admins to view and edit host records.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <!-- Title Section -->
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0">
            <h1 class="mb-3 text-edit text-center">PJL Host Record Details</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 px-0">
            <hr class="mt-4 mb-4">
            <!-- Add new host Button -->
            <div class="col-12 text-center">
                <a href="{% url 'hosts' %}" class="btn btn-review mb-3 rounded-15 text-uppercase">
                    <span class="icon">
                    <i class="fa-solid fa-hotel"></i>
                    </span>Back to All Hosts
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="d-flex justify-content-between flex-wrap ">
                <div class="col-12 bg-hosts mb-4 rounded-15">
                    <h2 class="text-edit text-center">Host Record</h2>    
                </div>
            </div>
        </div>
    </div>
        <div>
        <!-- Host Record -->
            <div class="row no-gutters">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <div class="d-flex justify-content-between flex-wrap ">
                        <div class="col-12 bg-hosts mb-2 rounded-15">
                        <br>
                        <h4 class="text-center"> Hostname:&nbsp;&nbsp;
                            <span class="search-record-title">{{host.hostname}}</span></h4>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">Address Line 1:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ host.address1 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">Address Line 2:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ host.address2 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">Town:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ host.town }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">PostCode:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ host.postcode }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">County:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ host.county }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">telephone:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ host.telephone }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">Maximum Occupancy:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ host.max_occupants }}</p>
                            </div>
                        </div>
                        {% if host.gas_safety %}
                            <div class="row">
                                <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                    <p class="mb-0 ml-2 font-weight-bold">Gas Safety is valid Until:</p>
                                </div>
                                <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                    <p class="mb-0 text-black">{{ host.gas_safety_date }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                    <p class="mb-0 ml-2 font-weight-bold">Gas Safety is valid Until:</p>
                                </div>
                                <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                    <p class="text-danger">No Gas Safety Certificate</p>
                                </div>
                            </div>        
                        {% endif %}
                        <button class="mb-2 rounded-15 btn btn-success float-right">
                            <a class ="text-white" href="{% url 'edit_host' host.id %}">Edit</a>
                        </button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="d-flex justify-content-between flex-wrap ">
                    <div class="col-12 bg-category mb-4 rounded-15">
                        <!-- get catgeories for hosts -->
                        <h2 class="text-info text-center ml-3">Categories/Tags</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class=" bg-category rounded-15 col-lg-8 offset-lg-2">
            {% if categories|length > 0 %}
            {% for category in categories %}                           
                <div class="category-label ">
                    <h2><span class="tag-format text-center">{{ category.name }}</span></h2>
                </div>  
            {% endfor %}
                <br>
            {% else %}
                <p class="text-center">There are no Category Tags for this Host</p>
            {% endif %}
            </div>
        </div>
        <br>
        <div class="row no-gutters">
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="d-flex justify-content-between flex-wrap ">
                    <div class="col-12 bg-members mb-4 rounded-15">
                        <!-- get family members for hosts -->
                        <h2 class="text-info text-center mt-1 ml-3">Family Members</h2>
                    </div>
                </div>
            </div>
        </div>
            {% if familymembers|length > 0 %}
            {% for member in familymembers %}
            <!-- Member Records -->
          <div class="row no-gutters">
            <div class="col-12 bg-members rounded-15 col-lg-8 offset-lg-2 mt-0">
                <br>
                <h4 class="text-center">Name:&nbsp;&nbsp;
                  <span class="search-record-title">{{member.first_name}}&nbsp;{{member.last_name}}</span></h4>
                <div class="row">
                    <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                        <p class="mb-0 ml-2 font-weight-bold">Gender:</p>
                    </div>
                    <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                        <p class="mb-0 text-black">{{ member.gender }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                        <p class="mb-0 ml-2 font-weight-bold">email:</p>
                    </div>
                    <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                        <p class="mb-0 text-black">{{ member.email }}</p>
                    </div>
                </div>
                {% if member.is_adult %}
                <div class="row">
                    <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                        <p class="mb-0 ml-2 text-edit font-weight-bold">Adult</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                        <!-- get todays date in required format -->
                        {% now "d m Y" as current_date %}
                        <!-- check if dbs valid -->
                        {% if member.dbs_date|date:"dmY"  > current_date  %}
                        <p class="text-edit mb-0 ml-2 font-weight-bold">Valid DBS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                        <p class="text-edit mb-0 ml-2 font-weight-bold">DBS Expiry:</p>
                    </div>
                    <div class="col-6 col-sm-4 col-md-5 col-lg-4">
                        <p class="mb-0 text-black">{{member.dbs_date}}</p>
                    </div>
                </div>            
                {% else %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                        <p class="text-danger mb-0 ml-2 font-weight-bold">No Valid DBS</p>
                    </div>
                </div>
                    {% if member.dbs_date is None %}
                <div class="row">
                    <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                        <p class="text-danger mb-0 ml-2 font-weight-bold">No DBS on record</p>
                    </div>
                </div>
                    {% else %}
                <div class="row">
                    <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                    <p class="text-danger mb-0 ml-2 font-weight-bold">DBS Expired On:</p>
                    </div>
                    <div class="col-6 col-sm-4 col-md-5 col-lg-4">
                        <p class="text-danger">{{member.dbs_date}}</p>
                    </div>
                </div>
                    {% endif %}
                    {% endif %}
                    {% else %}
                <div class="row">
                    <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                        <p class="mb-0 ml-2 text-info font-weight-bold">Child</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                        <p class="mb-0 ml-2 font-weight-bold">Age</p>
                    </div>
                    <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                        <p class="mb-0 text-black">{{ member.child_age }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                        <p class="text-edit mb-0 ml-2 font-weight-bold">DBS not required</p>
                    </div>
                </div>
                    {% endif %}
                <div class="row">
                    <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                        <p class="mb-0 ml-2 font-weight-bold">Host:</p>
                    </div>
                    <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                        <p class="mb-0 text-black">{{ member.host }}</p>
                    </div>
                </div>
                    <button class="mr-3 mb-2 rounded-15 btn btn-success float-right">
                        <a class ="text-white" href="{% url 'edit_member' member.id %}">Edit</a>
                    </button></span></p>
                </div>
            </div>
          </div>
          <br>
            {% endfor %}
            {% else %}
                <p class="text-center">There are no Family members for this Host</p>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="mb-3"></div>
</div>
{% endblock %}