{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Hosts {% endblock %}

{% block extra_meta %}
    <meta name="description" content="An area for site admins to view and edit host records.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <!-- Title Section -->
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0">
            <h1 class="mb-3 text-edit text-center">PJL Host Record Details</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="d-flex justify-content-between flex-wrap ">
                <div class="col-12 bg-hosts mb-4 rounded-15">
                    <h2 class="text-edit text-center">Host Record</h2>    
                </div>
            </div>
        </div>
    </div>
        <div>
        <!-- Host Record -->
            <div class="row no-gutters">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <div class="d-flex justify-content-between flex-wrap ">
                        <div class="col-12 bg-hosts mb-2 rounded-15">
                        <br>
                        <h4 class="ml-3"> Hostname:&nbsp;&nbsp;{{host.hostname}}<span>
                            <button class="mr-3 rounded-15 btn btn-success float-right">
                                <a class ="text-white" href="{% url 'edit_host' host.id %}">Edit</a>
                            </button>
                        </span></h4>
                        <div class="ml-5 my-0 ">
                            <p class="my-0">{{host.address1}}</p>
                            <p class="my-0">{{host.address2}}</p>
                            <p class="my-0">{{host.town}}</p>
                            <p class="my-0">{{host.postcode}}</p>
                            <p class="my-0">{{host.county}}</p>
                            <p class="mt-1 mb-0">Telephone:&nbsp;&nbsp;{{host.telephone}}</p>
                            <p class="mt-1 mb-0">Maximum Occupancy:&nbsp;&nbsp;{{host.max_occupants}}</p>
                            {% if host.gas_safety %}
                                <p>Gas Safety is valid Until:&nbsp;&nbsp;{{host.gas_safety_date}}</p>
                            {% else %}
                                <p class="text-danger">No Gas Safety Certificate</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="d-flex justify-content-between flex-wrap ">
                    <div class="col-12 bg-category mb-4 rounded-15">
                        <!-- get catgeories for hosts -->
                        <h2 class="text-info text-center ml-3">Categories/Tags</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class=" bg-category rounded-15 col-lg-8 offset-lg-2">
            {% if categories|length > 0 %}
            {% for category in categories %}                           
                <div class="category-label ">
                    <h2><span class="tag-format text-center">{{ category.name }}</span></h2>
                </div>  
            {% endfor %}
                <br>
            {% else %}
                <p class="text-center">There are no Category Tags for this Host</p>
            {% endif %}
            </div>
        </div>
        <br>
        <div class="row no-gutters">
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="d-flex justify-content-between flex-wrap ">
                    <div class="col-12 bg-members mb-2 rounded-15">
                        <!-- get family members for hosts -->
                        <h2 class="text-info text-center mt-1 ml-3">Family Members</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <br>
            {% if familymembers|length > 0 %}
            {% for member in familymembers %}
            <div class=" bg-members rounded-15 mt-3 col-lg-8 offset-lg-2">
                <h4 class="ml-3 mt-3">Name:&nbsp;&nbsp;{{member.first_name}}&nbsp;{{member.last_name}}</h4>
                <div class="ml-5 mb-0">
                    <p class="mb-0">Gender:&nbsp;&nbsp;{{member.gender}}</p>
                    <p class="mb-0">Email:&nbsp;&nbsp;{{member.email}}</p>
                {% if member.is_adult %}
                    <p>Adult</p>
                {% else %}
                    <p>Child</p>
                    <p>Age:&nbsp;{{member.child_age}}</p>
                {% endif %}
            <!-- get todays date in required format -->
                    {% now "d m Y" as current_date %}
                    <!-- check if dbs valid -->
                    {% if member.dbs_date|date:"dmY"  > current_date  %}
                        <p class="text-edit mb-0">Valid DBS</p>
                        <p class="text-edit">DBS Expiry:&nbsp;{{member.dbs_date}}</p>   
                    {% else %}
                        <p class="text-danger mb-0">No Valid DBS</p>
                        {% if member.dbs_date is None %}
                            <p class="text-danger mt-0">No DBS on record</p>
                        {% else %}
                            <p class="text-danger mt-0">DBS Expired On:&nbsp;&nbsp;{{member.dbs_date}}</p>
                        {%endif %}
                    {% endif %}
                    <p>Host:&nbsp;&nbsp;{{member.host}}<span>
                    <button class="mr-3 mb-4 rounded-15 btn btn-success float-right">
                        <a class ="text-white" href="{% url 'edit_member' member.id %}">Edit</a>
                    </button></span></p>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <p class="text-center">There are no Family members for this Host</p>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="mb-3"></div>
</div>
{% endblock %}