{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Hosts {% endblock %}

{% block extra_meta %}
    <meta name="description" content="An area for site admins to view and edit host records.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <!-- Title Section -->
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0">
            <h1 class="text-edit text-center">PJL Host Records</h1>
        </div>
    </div>

    <!-- Host Section -->
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 px-0">
            <hr class="mt-4 mb-4">
            <!-- Add new host Button -->
            <div class="col-12 text-center">
                <a href="{% url 'add_host' %}" class="btn btn-review mb-3 rounded-15 text-uppercase">
                    <span class="icon">
                    <i class="fa-solid fa-hotel"></i>
                    </span>Add New Host
                </a>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 col-lg-8 offset-lg-2 ">
            <div class="col-12 my-0 bg-hosts rounded-15">
                <h2 class="text-edit text-center">Host Records</h2>    
            </div>

            <form method="GET" action="{% url 'hosts_by_cat' %}">
                <div class="host-search-box input-group mt-3 mb-0">
                    <input class="form-control host-search-border rounded-15 hide-labels" type="text"
                     name="q" placeholder="Search for catgeories"
                     aria-label="search term">
                    <div class="input-group-append">
                        <button aria-label="search button" class="form-control btn bg-white ml-2 host-search-border rounded-15" type="submit">
                            <span class="icon">
                                <i class="text-pjl fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
            </div>
            <div class="col-12 col-lg-8 offset-lg-2 ">

            <br>
            <div>
                {% if hosts|length > 0 %}
                {% for host in hosts %}
                <!-- Host Record -->
                <div class="row no-gutters">
                    <div class="col-12 bg-hosts rounded-15 mt-0">
                        <h4 class="ml-3 mt-2">{{host.hostname}}</h4>
                        <div class="ml-5">
                            <p>{{host.address1}}&nbsp;&nbsp;{{host.town}}&nbsp;&nbsp;{{host.telephone}}</p>
                            <p class="mb-0">Maximum Occupancy:&nbsp;&nbsp;{{host.max_occupants}}:&nbsp;&nbsp;<span>
                            {% if host.gas_safety %}
                                Gas Safety is valid Until:&nbsp;&nbsp;{{host.gas_safety_date}}
                            {% else %}
                                <span class="mt-1 text-danger">No Gas Safety Certificate</span>
                            {% endif %}</span></p>
                        </div>
                        <div class="col-12 text-center">
                            <a href="{% url 'host_detail' host.id %}" class="btn btn-info mt-0 mb-3 mt-1 float-right rounded-15 text-uppercase">
                                <span class="icon">
                                <i class="fa-solid fa-circle-info"></i>
                                </span>View Full Details
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}

                {% else %}
                <div class="col-12 text-center py-3">
                    <hr>
                    <p class="font-body weight-semibold text-dark-grey">No Hosts To Display</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="mb-3"></div>
</div>
{% endblock %}