{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Members {% endblock %}

{% block extra_meta %}
    <meta name="description" content="An area for site admins to view and edit member records.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <!-- Title Section -->
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0">
            <h1 class="text-edit text-center">PJL Family Member Records</h1>
        </div>
    </div>

    <!-- Messages Section -->
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 px-0">
            <hr class="mt-4 mb-4">
            <!-- Add new Member Button -->
            <div class="col-12 text-center">
                <a href="{% url 'add_member' %}" class="btn btn-review mb-3 rounded-15 text-uppercase">
                    <span class="icon">
                    <i class="fa-solid fa-people-roof"></i>
                    </span>Add New Member
                </a>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 col-lg-6 offset-lg-3">
            <div class="d-flex justify-content-between flex-wrap ">
                <div class="col-12 bg-members mb-4 rounded-15">
                    <h2 class="text-edit text-center">Member Records</h2>    
                </div>
            </div>
                <br>
            <div>
                {% if members|length > 0 %}
                {% for member in members %}
                <!-- Member Records -->
                <div class="row no-gutters">
                    <div class="col-12 py-0 bg-members rounded-15 mt-0">
                        <br>
                        <h4 class="ml-3 ">Name:&nbsp;&nbsp;{{member.first_name}}&nbsp;{{member.last_name}}</h4>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">Gender:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ member.gender }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">email:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ member.email }}</p>
                            </div>
                        </div>
                        {% if member.is_adult %}
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 text-edit font-weight-bold">Adult</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <!-- get todays date in required format -->
                                {% now "d m Y" as current_date %}
                                <!-- check if dbs valid -->
                                {% if member.dbs_date|date:"dmY"  > current_date  %}
                                <p class="text-edit mb-0 ml-2 font-weight-bold">Valid DBS</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="text-edit mb-0 ml-2 font-weight-bold">DBS Expiry:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4">
                                <p class="mb-0 text-black">{{member.dbs_date}}</p>
                            </div>
                        </div>            
                        {% else %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="text-danger mb-0 ml-2 font-weight-bold">No Valid DBS</p>
                            </div>
                        </div>
                            {% if member.dbs_date is None %}
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="text-danger mb-0 ml-2 font-weight-bold">No DBS on record</p>
                            </div>
                        </div>
                            {% else %}
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                            <p class="text-danger mb-0 ml-2 font-weight-bold">DBS Expired On:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4">
                                <p class="text-danger">{{member.dbs_date}}</p>
                            </div>
                        </div>
                            {% endif %}
                            {% endif %}
                            {% else %}
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 text-info font-weight-bold">Child</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">Age</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ member.child_age }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="text-edit mb-0 ml-2 font-weight-bold">DBS not required</p>
                            </div>
                        </div>
                            {% endif %}
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">Host:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ member.host }}</p>
                            </div>
                        </div>
                            <button class="mr-3 mb-4 rounded-15 btn btn-success float-right">
                                <a class ="text-white" href="{% url 'edit_member' member.id %}">Edit</a>
                            </button></span></p>
                    </div>
                </div>
                <br>
                {% endfor %}
                {% else %}
                <div class="col-12 bg-members rounded-15 text-center py-3">
                    <p class="font-body weight-semibold text-dark-grey">No Family Member Records To Display</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="mb-3"></div>
</div>
{% endblock %}