{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Members {% endblock %}

{% block extra_meta %}
    <meta name="description" content="An area for site admins to view and edit member records.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <!-- Title Section -->
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0">
            <h1 class="mt-5 text-edit text-center">PJL Family Member Records</h1>
        </div>
    </div>

    <!-- Messages Section -->
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 px-0">
            <hr class="mt-4 mb-4">
            <!-- Add new Member Button -->
            <div class="col-12 text-center">
                <a href="{% url 'add_member' %}" class="btn btn-review mb-3 rounded-15 text-uppercase">
                    <span class="icon">
                    <i class="fa-solid fa-people-roof"></i>
                    </span>Add New Member
                </a>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 col-lg-8 offset-lg-2 p-3">
                <div class="col-12 bg-members rounded-15">
                    <h2 class="text-edit text-center">Member Records</h2>    
                </div>
                <br>
            <div>
                {% if members|length > 0 %}
                {% for member in members %}
                <!-- Member Records -->
                <div class="row">
                    <div class="col-12 bg-members rounded-15 mt-0">
                        <br>
                        <h4>Name:&nbsp;&nbsp;{{member.firstname}}&nbsp;{{member.last_name}}</h4>
                        <div class="ml-3">
                            <p>Email:&nbsp;&nbsp;{{member.email}}</p>
                            {% if member.is_adult %}
                                <p>Adult</p>
                            {% else %}
                                <p>Child</p>
                                <p>Age:&nbsp;{{member.child_age}}</p>
                            {% endif %}
                            {% if member.valid_dbs %}
                                <p>Valid DBS</p>
                                <p>DBS Expiry:&nbsp;{{member.dbs_date}}</p>
                            {% else %}
                                <p class="text-danger">No Valid DBS</p>
                            {% endif %}
                            <p>Host:&nbsp;&nbsp;{{member.host}}<span>
                            <button class="mr-3 mb-4 rounded-15 btn btn-success float-right">
                                <a class ="text-white" href="{% url 'edit_member' member.id %}">Edit</a>
                            </button></span></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-12 bg-members rounded-15 text-center py-3">
                    <p class="font-body weight-semibold text-dark-grey">No Family Member Records To Display</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="mb-3"></div>
</div>
{% endblock %}