{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Site Management{% endblock %}

{% block extra_meta %}
    <meta name="description" content="An area for site admins to view customer messages, add products & authorise reviews.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <!-- Title Section -->
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0">
            <h1 class="mt-5 text-edit text-center">Admin Access Only</h1>
        </div>
    </div>

    <!-- Messages Section -->
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 px-0">
            <hr class="mt-4 mb-4">
        </div>
    </div>
    <div class="row" >
        <div class="col-12 col-lg-8 offset-lg-2 p-3 bg-messages">
            <div class="d-flex justify-content-between flex-wrap ">
                <div class="mb-3 d-flex flex-wrap align-items-end d-sm-block">
                    <!-- Messages Title -->
                    <h2 class="text-edit">Messages</h2>    
                    <!-- Messages Current Filter & Count -->
                    <p class="pl-3">{% if current_filter %}<span class="text-uppercase">
                        {{current_filter}}{% else %}&nbsp;All&nbsp;{% endif %} MESSAGES 
                        ({{ customer_messages|length }})</p>

                </div>

                <!-- Messages Filter Buttons -->
                <div class="d-sm-flex justify-content-end align-items-end mb-4">
                    <p class= me-3 mb-2 mb-sm-0">Filter By:</p>
                    <div class="d-flex">
                        <a href="{% url 'management' %}?open=True" class=" text-decoration-none shadow-sm me-3">
                            <p class="d-inline text-open">&nbsp;Open&nbsp</p>
                        </a>
                        <a href="{% url 'management' %}?open=False" class=" text-decoration-none shadow-sm me-3">
                            <p class="d-inline text-edit">&nbsp;Closed&nbsp;</p>
                        </a>
                        <a href="{% url 'management' %}" class="text-decoration-none shadow-sm">
                            <p class="d-inline text-oreo">&nbsp;All&nbsp;</p>
                        </a>
                    </div>
                </div>
            </div>
             
            <div id="manage-messages">
                <hr class="mt-4 mb-4">
                {% if customer_messages|length > 0 %}
                    {% for message in customer_messages %}
                        <!-- Message -->
                        <div class="row {% if message.is_open %}bg-message-open{% else %}bg-message-closed{% endif %} w-100 m-auto mb-3 py-3 shadow-sm {% if message.is_open %}border-open{% else%}border-closed{%endif%}">
                            <div class="pl-3">
                                <p><span class="text-edit">Date:&nbsp;</span>{{message.created_on|date:"d/m/Y"}}</p>
                                <a href="mailto:{{message.email}}">
                                    <p><span class="text-edit">Email:&nbsp;</span><span class="text-oreo">{{message.email}}</span></p>
                                </a>
                            </div>
                            <div class="col-12">
                                <p><span class="text-edit">Title:&nbsp;</span>{{message.subject}}</p>
                            </div>
                            <div class="col-12">
                                <p><span class="text-edit">Message:&nbsp;</span>{{message.content}}</p>
                            </div>
                            <div class="col-12 mt-2">
                                <p class="me-3">Status: <span class="weight-semibold">{% if message.is_open %}
                                    <span class="text-open">&nbsp;Open</span>{% else %}
                                    <span class="text-edit">&nbsp;Closed</span>{%endif%}</span></p>

                                <!-- Form to change message is_open status -->
                                <form method="POST" action="{% url 'toggle_message' message.id %}" id="message-form-{{message.id}}">
                                    {% csrf_token %}
                                    <div class="form-check form-switch float-right">
                                        <label class="text-oreo font-weight-bold" for="{{message.id}}">Toggle Message Status:&nbsp;&nbsp;</label>
                                        <input class="message-toggle" type="checkbox" role="switch" name="toggle-open" id="{{message.id}}" 
                                        {% if message.is_open is False %}Checked{% endif %}  />                                        
                                    </div>            
                                    <!-- Hidden input to submit value of toggle -->
                                    <input type="hidden" id="message-{{message.id}}-input" name="is_open" value="{{ message.is_open }}">
                                    <!-- Hidden input to submit current_filter -->
                                    <input type="hidden" id="current-filter-input-{{message.id}}" name="current_filter" value="{{current_filter}}">
                                </form>   
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <!-- No Messages Text -->
                    <div class="col-12 text-center py-3">
                        <p class="font-body weight-semibold text-dark-grey">No Messages</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Reviews Section -->
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 px-0">
            <hr class="mt-4 mb-4">
        </div>
    </div>

    <div class="row">
        <div class="bg-reviews col-12 col-lg-8 offset-lg-2 p-3">
            <div class="d-flex justify-content-between flex-wrap ">
                <div class="mb-3 d-flex flex-wrap align-items-end d-sm-block">
                    <h2 class="weight-semibold text-edit">Reviews Awaiting Approval</h2>
                    <p class="pl-3">The following reviews are awaiting approval.</p>
                    <p class="pl-3">Once approved they will appear on the site.</p>
                </div>
            </div>            
            <div class="" id="manage-reviews">
                {% if reviews|length > 0 %}
                    {% for review in reviews %}
                    <!-- Review -->
                        <div class="row w-100 m-auto mb-3 shadow-sm ">
                            <div class="col-3 col-md-2 d-none d-sm-flex py-3 ps-3 pe-0">
                            <!-- Product Image -->
                                <a href="{% url 'product_detail' review.product.id %}">
                                    {% if review.product.image %}
                                        <img class="img-fluid image-ratio" src="{{ review.product.image.url }}" alt="{{ review.product.name }}" onerror="this.onerror=null;this.src='{{ MEDIA_URL }}no_image.jpg'">
                                    {% else %}
                                        <img class="img-fluid image-ratio" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ review.product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 p-3">
                                <h2>{{ review.product }}</h2>
                                <!-- Review Title & Date -->
                                <div class="row">
                                    <div class="col-12 ">
                                            <p class="mb-1"><span class="text-review">Title:&nbsp;&nbsp;</span>{{ review.title }}</p>
                                            <p class="mb-1"><span class="text-review">Created on:&nbsp;&nbsp;</span>{{ review.created_on|date:"d/m/Y" }}</p>
                                            <i class="fas fa-user text-review"></i><span>&nbsp;{{ review.user }}</span>
                                            <p class ="text-review mb-1">Rating Given:&nbsp;&nbsp;<span class="fa-solid fa-star">&nbsp;</span><span class="text-review">{{ review.rating }}</span></p>
                                            <p class="text-break mt-1"><span class="text-review">Comments:&nbsp;&nbsp;</span>{{ review.content }}</p>
                                    </div>
                                    <!-- Review EDIT / DELETE Buttons -->
                                    <div class="col-12">
                                        <a href="{% url 'edit_review' review.id %}?next={{ request.path|urlencode }}" class="text-review">Edit</a> |
                                        <a class="text-review-delete" href="{% url 'delete_review' review.id %}?next={{ request.path|urlencode }}">Delete</a>
                                    </div>
                                    <div class="col-12 float-right">
                                            <!-- Form to change review is_approved status -->
                                            <form method="POST" action="{% url 'toggle_review' review.id %}" id="review-toggle-form-{{review.id}}">
                                                {% csrf_token %}
                                                <div class="float-right label-review form-check form-switch p-0">
                                                    <label class="text-oreo font-weight-bold" for="{{review.id}}">Approve Review:&nbsp;&nbsp;</label>
                                                    <input  class="review-toggle" type="checkbox"
                                                        role="switch" name="toggle-open" id="{{review.id}}" {% if review.is_approved is True %}
                                                        Checked{% endif %} />
                                                </div>            
                                                <!-- Hidden input to submit value of toggle -->
                                                <input type="hidden" id="review-{{review.id}}-input" name="is_approved" value="{{ review.is_approved }}">
                                            </form> 
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-1">
                        </div>
                    {% endfor %}
                {% else %}
                    <!-- No Reviews Text -->
                    <div class="col-12 text-center py-3">
                        <hr class="mb-3">
                        <h4 class="text-oreo">No Reviews to Approve.</h4>
                        <hr class="mt-3 mb-1">
                    </div>
                {% endif %}
            </div>
        </div> 
    </div>
    <br>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Sends Message Toggle Value to View & Submits Form -->
    <script src="{% static 'management/js/message_toggle.js' %}"></script>
    <!-- Sends Review Toggle Value to View & Submits Form -->
    <script src="{% static 'management/js/review_toggle.js' %}"></script>
    <!-- Scroll To Previous Location on Reload JS -->
    <script src="{% static 'management/js/scroll_messages.js' %}"></script>
{% endblock %}