{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Site Management{% endblock %}

{% block extra_meta %}
    <meta name="description" content="An area for site admins to view customer messages, add products & authorise reviews.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <!-- Title Section -->
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0">
            <h1 class="mt-5 text-edit text-center">Admin Access Only</h1>
        </div>
    </div>

    <!-- Messages Section -->
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0">
            <hr class="mt-4 mb-4">
        </div>
    </div>
    <div class="row" >
        <div class="bg-ib-light col-12 col-lg-10 offset-lg-1 p-3">
            <div class="d-flex justify-content-between flex-wrap ">

                <div class="mb-3 d-flex flex-wrap align-items-end d-sm-block">

                    <!-- Messages Title -->
                    <h2 class="text-edit">Messages</h2>
                    
                    <!-- Messages Current Filter & Count -->
                    <p class="">{% if current_filter %}<span class="text-uppercase">{{current_filter}}{% else %}&nbsp;All&nbsp;{% endif %} MESSAGES ({{ customer_messages|length }})</p>

                </div>

                <!-- Messages Filter Buttons -->
                <div class="d-sm-flex justify-content-end align-items-end mb-4">
                    <p class="ib-lh-1 me-3 mb-2 mb-sm-0">Filter By:</p>
                    <div class="d-flex">
                        <a href="{% url 'management' %}?open=True" class="ib-button-sm ib-button-warning text-decoration-none text-ib-dark font-title weight-bold shadow-sm me-3">
                            <p class="d-inline text-danger">&nbsp;Open&nbsp</p>
                        </a>
                        <a href="{% url 'management' %}?open=False" class="ib-button-sm ib-button-success text-decoration-none text-ib-dark font-title weight-bold shadow-sm me-3">
                            <p class="d-inline text-edit">&nbsp;Closed&nbsp;</p>
                        </a>
                        <a href="{% url 'management' %}" class="ib-button-sm ib-button-grey text-decoration-none text-ib-dark font-title weight-bold shadow-sm">
                            <p class="d-inline text-oreo">&nbsp;All&nbsp;</p>
                        </a>
                    </div>
                </div>
            </div>
             
            <div class="" id="manage-messages">
                <hr class="mt-4 mb-4">
                {% if customer_messages|length > 0 %}
                    {% for message in customer_messages %}
                        <!-- Message -->
                        <div class="row text-ib-dark {% if message.is_open %}bg-message-open{% else %}bg-message-closed{% endif %} w-100 m-auto mb-3 py-3 shadow-sm {% if message.is_open %}border-open{% else%}border-closed{%endif%}">
                            <div class="col-12 d-flex small-para-text">
                                <p class="me-3">{{message.created_on|date:"d/m/Y"}}</p>
                                <a class="text-blue text-link-blue weight-semibold" href="mailto:{{message.email}}">
                                    <p>{{message.email}}</p>
                                </a>
                            </div>
                            <div class="col-12 mt-2">
                                <p class="weight-semibold">{{message.subject}}</p>
                            </div>
                            <div class="col-12 mt-1">
                                <p>{{message.content}}</p>
                            </div>
                            <div class="col-12 d-flex justify-content-end align-items-end mt-2">
                                <p class="me-3">STATUS: <span class="weight-semibold">{% if message.is_open %}OPEN{% else %}CLOSED{%endif%}</span></p>

                                <!-- Form to change message is_open status -->
                                <form method="POST" action="{% url 'toggle_message' message.id %}" id="message-form-{{message.id}}">
                                    {% csrf_token %}
                                    <div class="form-check form-switch">
                                        <input class="message-toggle" type="checkbox" role="switch" name="toggle-open" id="{{message.id}}" {% if message.is_open is False %}Checked{% endif %} aria-label="Toggle message status">
                                    </div>
            
                                    <!-- Hidden input to submit value of toggle -->
                                    <input type="hidden" id="message-{{message.id}}-input" name="is_open" value="{{ message.is_open }}">

                                    <!-- Hidden input to submit current_filter -->
                                    <input type="hidden" id="current-filter-input-{{message.id}}" name="current_filter" value="{{current_filter}}">
                                </form>   
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <!-- No Messages Text -->
                    <div class="col-12 text-center bg-ib-light py-3">
                        <p class="font-body weight-semibold text-dark-grey">No Messages</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Reviews Section -->
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0">
            <hr class="mt-4 mb-4">
        </div>
    </div>

    <div class="row">
        <div class="bg-blue-light col-12 col-lg-10 offset-lg-1 p-3">
            <div class="d-flex justify-content-between flex-wrap ">
                <div class="mb-3 d-flex flex-wrap align-items-end d-sm-block">
                    <h2 class="weight-semibold text-edit">Reviews Awaiting Approval</h2>
                    <p>The following reviews are awaiting approval.</p>
                    <p>Once approved they will appear on the site.</p>
                </div>
            </div>
            
            <div class="" id="manage-reviews">
                {% if reviews|length > 0 %}
                    {% for review in reviews %}
                    <!-- Review -->
                        <div class="row text-ib-dark w-100 m-auto mb-3 shadow-sm bg-ib-light">
                            <div class="col-3 col-md-2 d-none d-sm-flex py-3 ps-3 pe-0">
                            <!-- Product Image -->
                                <a href="{% url 'product_detail' review.product.id %}">
                                    {% if review.product.image %}
                                        <img class="img-fluid image-ratio" src="{{ review.product.image.url }}" alt="{{ review.product.name }}" onerror="this.onerror=null;this.src='{{ MEDIA_URL }}no_image.jpg'">
                                    {% else %}
                                        <img class="img-fluid image-ratio" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ review.product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 p-3">
                                <div class="col-12 col-sm-9 col-md-10 p-3">
                                    <h2>{{ review.product }}</h2>
                                    <!-- Review Title & Date -->
                                    <div class="row font-body text-dark-grey my-2">
                                        <div class="col-12 ">
                                            <p class="mb-1">{{ review.title }}</p>
                                            <p class="mb-1">Created on: {{ review.created_on|date:"d/m/Y" }}</p>
                                        </div>
                                    </div>
                                    <i class="fas fa-user"></i><span>&nbsp;{{ review.user }}</span>
                                        <p class ="mt-1">Rating Given: <span class="text-edit">&nbsp;{{ review.rating }}</span></p>
                                        <p class="text-break">{{ review.content }}</p>
                                    <!-- Review EDIT / DELETE Buttons -->
                                    {% if request.user.is_superuser or request.user == review.user %}
                                    <div class="row">
                                        <div class="col mt-3">
                                            <a href="{% url 'edit_review' review.id %}?next={{ request.path|urlencode }}" class="text-edit">Edit</a> |
                                            <a class="text-danger" href="{% url 'delete_review' review.id %}?next={{ request.path|urlencode }}">Delete</a>
                                        </div>
                                    </div>
                                    <div class="float-right">
                                    <!-- <input type="checkbox" id=">Approve Review<span> -->
                                    <!-- Form to change review is_approved status -->
                                        <form method="POST" action="{% url 'toggle_review' review.id %}" id="review-toggle-form-{{review.id}}">
                                            {% csrf_token %}
                                            <div class="float-right form-check form-switch p-0">
                                                <label class="text-edit" for="{{review.id}}">Approve Review&nbsp;&nbsp;</label>
                                                <input class="" type="checkbox" role="switch" name="toggle-open" id="{{review.id}}" {% if review.is_approved is True %}Checked{% endif %} aria-label="Toggle review status">
                                            </div>            
                                            <!-- Hidden input to submit value of toggle -->
                                            <input type="hidden" id="review-{{review.id}}-input" name="is_approved" value="{{ review.is_approved }}">
                                        </form></span></h2>   
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                                <hr class="mb-1">
                            </div>
                    {% endfor %}
                {% else %}
                    <!-- No Reviews Text -->
                    <div class="col-12 text-center bg-ib-light py-3">
                        <p class="font-body weight-semibold text-dark-grey">No Reviews to Approve. You're up to date!</p>
                    </div>
                {% endif %}

            </div>
        </div> 
    </div>
</div>
{% endblock %}

{% block extra_js_end %}
<!-- Sends Message Toggle Value to View & Submits Form -->
<script src="{% static 'management/js/message_toggle.js' %}"></script>
<!-- Sends Review Toggle Value to View & Submits Form -->
<script src="{% static 'management/js/review_toggle.js' %}"></script>
<!-- Scroll To Previous Location on Reload JS -->
<script src="{% static 'management/js/scroll_messages.js' %}"></script>
{% endblock %}