{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Teamlead {% endblock %}

{% block extra_meta %}
    <meta name="description" content="An area for site admins to view and edit Team Leader records.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <!-- Title Section -->
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 px-0">
            <h1 class="text-edit text-center">PJL Team Leader Records</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 px-0">
            <hr class="mt-4 mb-4">
            <!-- Add new Team Leader Button -->
            <div class="col-12 text-center">
                <a href="{% url 'add_teamlead' %}" class="btn btn-review mb-3 rounded-15 text-uppercase">
                    <span class="icon">
                    <i class="fa-solid fa-person"></i>
                    </span>Add New Team Leader
                </a>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 col-lg-8 offset-lg-2 p-3 ">
            <div class="d-flex justify-content-between flex-wrap ">
                <div class="col-12 col-lg-8 bg-teamlead rounded-15 offset-lg-2">
                    <h2 class="text-edit text-center">Team Leaders</h2>    
                </div>
            </div>
            <br> 
            <div>
                {% if teamleaders|length > 0 %}
                {% for teamlead in teamleaders %}
                <!-- Team Leader Record -->
                <div class="row no-gutters">
                    <div class="col-12 col-lg-8 offset-lg-2 bg-teamlead mb-3 rounded-15">
                        <br>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">First Name:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ teamlead.first_name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">Last Name:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ teamlead.last_name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">Email:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ teamlead.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">Mobile:</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-5 col-lg-4 ">
                                <p class="mb-0 text-black">{{ teamlead.mobile }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-sm-1 col-sm-4 col-md-4 col-lg-4">
                                <p class="mb-0 ml-2 font-weight-bold">Organisation:</p>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
                                <p class="mb-0 text-black">{{ teamlead.org }}</p>
                            </div>
                        </div>
                            <button class="mr-3 mb-3 rounded-15 btn btn-success float-right">
                                <a class ="text-white" href="{% url 'edit_teamlead' teamlead.id %}">Edit</a>
                            </button></span></p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-12 text-center py-3">
                    <p class="font-body weight-semibold text-dark-grey">No Team Leaders To Display</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}